@font-face {
    font-family: 'Purple Purse';
    src: url(../fonts/PurplePurse-Regular.ttf);
}

body, div, input {
    font-family: 'Purple Purse';
}

body {
    background-image: url("../images/background.jpg");
    background-position-y: bottom;
    background-position-x: -10px;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    -webkit-user-select: none;
    -webkit-transform: translateZ(0);
    background-size: 550px 900px;
}

body, div, canvas {
    -webkit-user-select: none;
}

#push {
    position: absolute;
    top: 355px;
    left: 245px;
    padding: 20px 15px;
    border-radius: 60px;
    border: 4px red solid;
    -webkit-user-select: none;
}

#container {
    margin: 0 auto;
    background-image: url("../images/background-2.png");
    z-index: 99;
    position: relative;
    height: 700px;
    width: 480px;
    background-position: bottom center;
}

#gameCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    -webkit-user-select: none;
}

#gameCanvasBackground {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}

#front {
    background-image: url('../images/front.png');
    position: absolute;
    z-index: 103;
    left: 0;
    top: 0;
    width: 480px;
    height: 700px;
    background-position: bottom center;
}

#timer {
    position: absolute;
    top: 10px;
    left: 370px;
    font-size: 40px;
    color: #fff;
    z-index: 300000;
    width: 100px;
    text-align: right;
    text-shadow: #333 2px 2px 2px;
}

#count {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    color: #fff;
    z-index: 300000;
    text-align: right;
    text-shadow: #333 2px 2px 2px;
}

#gameOver {
    display: none;
    position: absolute;
    top: 200px;
    left: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    z-index: 30000;
    border-radius: 30px;

}

#gameOver > div {
    text-shadow: #666 2px 2px 2px;
    color: #fff;
    text-align: center;
    background-color: #ff5f76;
    padding: 15px;
    border-radius: 20px;
}

#gameOver h2 {
    font-size: 40px;
    margin: 0px 0px 10px;
}

#gameOver a {
    display: block;
    background-color: #f6b62a;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto 5px;
    font-size: 30px;
    width: 180px;
}

#gameOver input {
    font-size: 25px;
    margin-top: 15px;
    border-radius: 10px;
    border: 5px solid #fff;
    text-align: center;
    width: 180px;
}